<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.walmartlabs.ern.navigation.sample">

    <application>
        <activity
            android:name="com.ern.api.impl.SampleActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.ern.api.impl.ActivityScopedNavigationApiTest$TestActivity"
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name="com.ern.api.impl.LaunchConfigTests$AddToBackStackDisabledForRootActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.ern.api.impl.LaunchConfigTests$AddToBackStackDisabledActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.ern.api.impl.LaunchConfigTests$DisableMiniAppLaunchInOnCreateActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.ern.api.impl.LaunchConfigTests$ValidateReplaceActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.ern.api.impl.core.BaseActivityDelegateTest$DelegateTestActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.ern.api.impl.LaunchConfigTests$RootBackPressConfigActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.ern.api.impl.LaunchConfigTests$OverlayActivity"
            android:theme="@style/Theme.AppCompat" />
    </application>
</manifest>
