name: ci
on:
  push:
    branches: ['*']
  pull_request:
jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: echo "y" | /usr/local/lib/android/sdk/tools/bin/sdkmanager "ndk;21.0.6113669"
      - run: npm i -g electrode-native
      - run: yarn --frozen-lockfile
      - working-directory: android/
        run: ./gradlew createAndPublishErnDevContainer
      - working-directory: android/
        run: ./gradlew assembleDebug test lint
  build-ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '12.4.0'
      - run: npm i -g electrode-native
      - run: yarn --frozen-lockfile
      - working-directory: ios/
        run: ern create-container -p ios --out ${PWD}/container -m https://github.com/electrode-io/movies-reloaded-miniapp
      - working-directory: ios/moviesreloadedMiniApp/
        run: xcodebuild -project "ErnRunner.xcodeproj" -scheme "ErnRunner" -destination "platform=iOS Simulator,name=iPhone 11"
